langchain
langgraph
python-dotenv
fastapi
uvicorn
langchain-community
langchain-pinecone
langchain-cohere
langchain-groq
pinecone
elasticsearch
sqlalchemy
psycopg[binary]
pandas
pymupdf
pdfplumber
unstructured
pydantic-settings
python-jose[cryptography]
authlib
langsmith
opentelemetry-api
opentelemetry-sdk
prometheus-client
langchain-text-splitters
python-multipart